.transition {
  transition: all 1s;
}

.square {
  width: 150px;
  height: 150px;
  background: black;
}

.rounded {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: black;
}

.triangle {
  width: 0px;
  height: 0px;
  border-bottom: 150px solid black;
  border-right: 75px solid transparent;
  border-left: 75px solid transparent;
}
